<template>
  <div id="creditos_wrap">
    <div id="creditos" class="contenido">
      <link rel="stylesheet" type="text/css" href="https://creditos.invbit.systems/creditos.css">
      <div class="cabecera">
        <img src="https://creditos.invbit.systems/img/detalle.gif" alt="web autogestionable">
        <p></p>
        <div class="phone">881 990 674</div>
        <div class="titulos">
          <h2>Invbit diseño y desarrollo web</h2>
          <h1 style="font-size:33px; line-height:50px">{{tipo}}</h1>
        </div>
        <p>
          <a
            class="icono"
            title="web autogestionable"
            href="javascript:void(0);"
            onclick="linkPage()"
          >
            <img src="https://creditos.invbit.systems/img/logo.png" alt="web autogestionable">
          </a>
        </p>
      </div>
      <div class="interior">
        <h3>Diseño y desarrollo {{tipo}}</h3>
        <h4>{{title}}</h4>
        <div v-html="description"></div>
        <ul class="lista">
          <li v-for="feature in features" :key="feature.id">{{feature.name}}</li>
        </ul>
        <div class="clear"></div>
      </div>
      <p>
        <a
          class="boton_inferior"
          title="web autogestionable"
          href="javascript:void(0);"
          onclick="linkPage()"
        >www.invbit.com</a>
      </p>
    </div>
  </div>
</template>
<script>
export default {
  name: "CreditsTemplate",
  props: ["title", "tipo", "description", "features"],
  data() {
    return {};
  }
};
</script>
