<template>
  <div id="app" class>
    <div class="container-fluid">
      <div class="row">
        <div class="col-half p-5 d-flex justify-content-center">
          <div class="col-half_form d-flex justify-content-center flex-column">
            <h1 class="font-weight-bold">Creditly!</h1>
            <div class="mt-5">
              <div class="form-group">
                <label class="font-weight-bold form-group_label">Nombre del cliente</label>
                <input
                  type="text"
                  name
                  id
                  class="form-control"
                  placeholder="Aquí va el nombre del cliente"
                  aria-describedby="helpId"
                  v-model="title"
                >
              </div>
              <div class="form-group mt-5">
                <label class="font-weight-bold form-group_label">¿Tipo de proyecto?</label>
                <div class="grid-3 mt-2">
                  <div class="pill-radio pill-radio__type h-100">
                    <input type="radio" v-model="tipo" id="web-autogestionable" name="type" value="Web Autogestionable">
                    <label for="web-autogestionable">Web autogestionable</label>
                  </div>
                  <div class="pill-radio pill-radio__type h-100">
                    <input type="radio" v-model="tipo" id="web-corporativa" name="type" value="Web Corporativa">
                    <label for="web-corporativa">Web corporativa</label>
                  </div>
                  <div class="pill-radio pill-radio__type h-100">
                    <input type="radio" v-model="tipo" id="tienda-online" name="type" value="Tienda Online">
                    <label for="tienda-online">Tienda online</label>
                  </div>
                </div>
              </div>
              <div class="mt-5">
                <label class="font-weight-bold form-group_label mb-4">¿De qué va este proyecto?</label>
                <editor-menu-bar :editor="editor">
                  <div class="menubar" slot-scope="{ commands, isActive }">
                    <button
                      class="menubar__button"
                      :class="{ 'is-active': isActive.bold() }"
                      @click="commands.bold"
                    >
                      <font-awesome-icon icon="bold"/>
                    </button>

                    <button
                      class="menubar__button"
                      :class="{ 'is-active': isActive.italic() }"
                      @click="commands.italic"
                    >
                      <font-awesome-icon icon="italic"/>
                    </button>

                    <button
                      class="menubar__button"
                      :class="{ 'is-active': isActive.strike() }"
                      @click="commands.strike"
                    >
                      <font-awesome-icon icon="strikethrough"/>
                    </button>

                    <button
                      class="menubar__button"
                      :class="{ 'is-active': isActive.underline() }"
                      @click="commands.underline"
                    >
                      <font-awesome-icon icon="underline"/>
                    </button>

                    <button
                      class="menubar__button"
                      :class="{ 'is-active': isActive.paragraph() }"
                      @click="commands.paragraph"
                    >
                      <font-awesome-icon icon="paragraph"/>
                    </button>

                    <button
                      class="menubar__button"
                      :class="{ 'is-active': isActive.heading({ level: 1 }) }"
                      @click="commands.heading({ level: 1 })"
                    >H1</button>

                    <button
                      class="menubar__button"
                      :class="{ 'is-active': isActive.heading({ level: 2 }) }"
                      @click="commands.heading({ level: 2 })"
                    >H2</button>

                    <button
                      class="menubar__button"
                      :class="{ 'is-active': isActive.heading({ level: 3 }) }"
                      @click="commands.heading({ level: 3 })"
                    >H3</button>

                    <button
                      class="menubar__button"
                      :class="{ 'is-active': isActive.bullet_list() }"
                      @click="commands.bullet_list"
                    >
                      <font-awesome-icon icon="list-ul"/>
                    </button>

                    <button
                      class="menubar__button"
                      :class="{ 'is-active': isActive.ordered_list() }"
                      @click="commands.ordered_list"
                    >
                      <font-awesome-icon icon="list-ol"/>
                    </button>
                  </div>
                </editor-menu-bar>
                <editor-content class="editor__content" :editor="editor"/>
              </div>
              <div class="form-group mt-5">
                <label class="font-weight-bold form-group_label mb-3">Características del proyecto</label>
                <div class="d-flex flex-wrap">
                  <div
                    class="pill-radio pill-radio__sm"
                    v-for="feature in features"
                    :key="feature.id"
                  >
                    <input
                      type="checkbox"
                      v-model="featuresSelected"
                      :id="'feauture'+feature.id"
                      :value="feature"
                    >
                    <label
                      :for="'feauture'+feature.id"
                    >{{feature.name}}</label>
                  </div>
                </div>
              </div>
            </div>
            <a
              name
              id
              class="btn btn-gradient btn-lg btn-block active mt-5 pt-3 pb-3"
              v-on:click="generateHtml(tipo+'.html','dentro')"
              :class="{'disabled' : title == ''}"
            >¡Crear plantilla de créditos!</a>
          </div>
        </div>
        <div class="col-half bg-light d-flex align-items-center justify-content-center bg-gradient">
          <div class="codevisual-block">
            <!-- <button class="btn btn-danger" v-if="codeActive==false" @click="codeMode">
              <font-awesome-icon icon="code" /> Modo código
            </button>
            <button class="btn btn-danger" v-if="codeActive==true" @click="codeMode">
              <font-awesome-icon icon="code" /> Modo visual
            </button> -->
            <credits-template
            :tipo="tipo"
            :title="title"
            :description="description"
            :features="featuresSelected"
            v-if="codeActive == false"
          ></credits-template>
          <div class="code-block" v-if="codeActive == true">
            <editor-content class="editor__content" :editor="codeEditor"/>
          </div>
          </div>
          </div>
        </section>
        <!-- <a class="btn btn--brand btn-lg btn-block active mt-3 pt-3 pb-3"
            v-on:click="generateHtml('politica.html')">¡Crear Política!</a> -->
      </div>
    </div>
  </div>
</template>

<script>
import CreditsTemplate from "./components/CreditsTemplate";
import htmlbars from 'highlight.js/lib/languages/htmlbars'
import { Editor, EditorContent, EditorMenuBar} from "tiptap";
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History,
  CodeBlockHighlight
} from "tiptap-extensions";
export default {
  name: "app",
  components: {
    CreditsTemplate,
    EditorContent,
    EditorMenuBar
  },
  data() {
    return {
      tipo: "",
      title: "",
      description: "",
      featuresSelected: [],
      features: [
        {
          id: 1,
          name: "Wordpress + Desarrollo a medida"
        },
        {
          id: 2,
          name: "Woocommerce"
        },
        {
          id: 3,
          name: "Prestashop + Desarrollo a medida"
        },
        {
          id: 4,
          name: "Diseño a medida"
        },
        {
          id: 5,
          name: "Bootstrap"
        },
        {
          id: 6,
          name: "Material design"
        },
        {
          id: 7,
          name: "HTML5"
        },
        {
          id: 8,
          name: "CSS3"
        },
        {
          id: 9,
          name: "Laravel"
        },
        {
          id: 10,
          name: "Javascript"
        },
        {
          id: 11,
          name: "VueJS"
        },
        {
          id: 12,
          name: "AngularJS"
        }
      ],
      code: 'dasdadsa',
      codeActive: false,
      codeEditor: new Editor({
        extensions: [
          new CodeBlockHighlight({
            languages: {
              htmlbars
            },
          })
        ],
      }),
      editor: new Editor({
        extensions: [
          new Blockquote(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new BulletList(),
          new OrderedList(),
          new ListItem(),
          new TodoItem(),
          new TodoList(),
          new Bold(),
          new Code(),
          new Italic(),
          new Link(),
          new Strike(),
          new Underline(),
          new History()
        ],
        onUpdate: ({ getHTML }) => {
          this.description = getHTML();
        },
        content: `
          Descripción del proyecto...
        `
      })
    };
  },
  computed: {
    getHtml: function(){
      this.code = document.getElementById("creditos_wrap").innerHTML;
      return this.code;
    }
  },
  methods: {
    codeMode: function(){
      this.codeActive = !this.codeActive;
      this.codeEditor.setContent('<pre><code>'+this.getHtml+'</code></pre>');
    },
    generateHtml: function(filename, text) {
      filename = this.title + ".html";
      text = document.getElementById("creditos_wrap").innerHTML;
      text +=
        "<script>function linkPage(){" +
        "window.open('https://www.invbit.com/servicios/diseno-y-desarrollo-web/" +
        this.tipo.toLowerCase().replace(" ", "-") +
        "')}" +
        "<" +
        "/script>";
      var element = document.createElement("a");
      element.setAttribute(
        "href",
        "data:text/plain;charset=utf-8," + encodeURIComponent(text)
      );
      element.setAttribute("download", filename);
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    }
  },
  beforeDestroy() {
    this.editor.destroy();
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");
$brand: rgb(18, 6, 51);
$featured: #b6e049;
.bg-brand {
  background-color: $brand;
}
.bg-gradient {
  background: #ffff7e;
  background: -moz-linear-gradient(4deg, #ffff7e 0%, #00a8c5 100%);
  background: -webkit-linear-gradient(4deg, #ffff7e 0%, #00a8c5 100%);
  background: linear-gradient(4deg, #ffff7e 0%, #00a8c5 100%);
}
.col-half_form {
  width: 90%;
}
body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: $brand;
}
#app {
  width: 100vw;
  height: 100vh;
}
.col-half {
  width: 50vw;
  height: 100vh;
}
.menubar__button {
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: rgba(0, 0, 0, 0);
  border: 0;
  color: #000;
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
  border-radius: 3px;
  cursor: pointer;
}
.form-group_label {
  color: #00a8c5;
}
.custom-checkbox {
  &:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
}
.btn-primary {
  background-color: $featured !important;
  &:hover {
    background-color: darken($featured, 10%) !important;
    color: #fff !important;
  }
  &.disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}
.custom-control-input:checked ~ .custom-control-label:before {
  background-color: $featured !important;
}

.btn-gradient {
  background: #ffff7e;
  background: -moz-linear-gradient(4deg, #ffff7e 0%, #00a8c5 100%) !important;
  background: -webkit-linear-gradient(
    4deg,
    #ffff7e 0%,
    #00a8c5 100%
  ) !important;
  background: linear-gradient(4deg, #ffff7e 0%, #00a8c5 100%) !important;
  color: #fff !important;
  &:hover {
    box-shadow: 0 5px 40px 0 #ffff7e9a !important;
  }
}
.codevisual-block{
  width: 100%;
  max-width: 660px;
}
.code-block{
  background-color: #fff;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  width: 100%;
}
.editor__content pre {
    padding: 3rem;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: .8rem;
    overflow-x: auto;
}

.pill-radio {
  input {
    display: none;
    &:checked {
      + label {
        background-color: rgba($featured, 0.1);
        border-color: $featured;
      }
    }
  }

  label {
    border: 1px solid rgba(#000,.1);
    border-radius: 8px;
    transition: all .3s ease;
    &:hover {
      border-color: #000;
      cursor: pointer;
    }
  }

  &__sm {
    label {
      padding: 8px 16px;
      font-size: 14px;
      margin-right: 4px;
    }
  }

  &__type {
    label {
      width: 100%;
      display: flex;
      place-items: center;
      justify-content: center;
      text-align: center;
      padding: 16px;
      font-size: 14px;
      white-space: nowrap;
      height: 100%;
    }
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 8px;
}
</style>
